@model Calculadora.Models.ComodoViewModel

@{
    ViewData["Title"] = "Tintas.NetCore";
}
<form asp-action="Index" class="form">
    <div class="text-center">
       <div class="margin-text"> 
        <h2>Tintas .Netcore</h2>
        <p> Calcule a quantidade de tindas que vai precisar</p>
        <p><label>Parede Fundo</label></p>
        <input type="number" asp-for="AlturaParedeFundo" placeholder="Altura (M)",required: true, maxLength: 4, min: 1, max: 50 />
        <input type="number" asp-for="LarguraParedeFundo" placeholder="Largura (M)",required: true, maxLength: 4, min: 1, max: 50 />
       
        <p><label>Parede Frente</label></p>
        <input type="number" asp-for="AltruaParedeFrente" placeholder="Altura (M)" required: true, maxLength: 4, min: 1, max: 50 />
        <input type="number" asp-for="LarguraParedeFrente" placeholder="Largura (M)" required: true, maxLength: 4, min: 1, max: 50 />
     
        
        <p><label>Parede Esquerda</label></p>
        <input type="number" asp-for="AlturaParedeEsquerda" placeholder="Altura (M)" required: true, maxLength: 4, min: 1, max: 50 />
        <input type="number" asp-for="LarguraParedeEsquerda" placeholder="Largura (M)" required: true, maxLength: 4, min: 1, max: 50 />
      
         
        <p><label>Parede Direita</label></p>
        <input type="number" asp-for="AlturaParedeDireita" placeholder="Altura (M)" required: true, maxLength: 4, min: 1, max: 50 />
        <input type="number" asp-for="LarguraParedeDireita" placeholder="Largura (M)" required: true, maxLength: 4, min: 1, max: 50 />
        <div class="form-group">
            <select asp-for="QtdJanela" class="form-control">
                <option value="0">
                    Quanditade Janela
                </option>
                <option value="1">1 Janela</option>
                <option value="2">2 Janelas</option>
                <option value="3">3 Janelas</option>
                <option value="4">4 Janelas</option>
                <option value="5">5 Janelas</option>
                <option value="6">6 Janelas</option>
                <option value="7">7 Janelas</option>
                <option value="8">8 Janelas</option>
                <option value="9">9 Janelas</option>
                <option value="10">10 Janelas</option>
            </select>
            <span asp-validation-for="QtdJanela" class="text-danger"></span>
            <select asp-for="QtdPorta" class="form-control">
                <option value="0">
                    Quanditade Porta
                </option>
                <option value="1">1 Porta</option>
                <option value="2">2 Portas</option>
                <option value="3">3 Portas</option>
                <option value="4">4 Portas</option>
                <option value="5">5 Portas</option>
                <option value="6">6 Portas</option>
                <option value="7">7 Portas</option>
                <option value="8">8 Portas</option>
                <option value="9">9 Portas</option>
                <option value="10">10 Portas</option>
            </select>
        </div>
    </div>     
            <p><input class="response" asp-for=" @ViewData["areaTotalM2"]" disabled></p>
            <p><input class="response" asp-for=" @ViewData["result"]"  disabled></p>
             @* botão calcular *@
            <button type="subimit" value="Calcular" asp-for="ConsumoTinta">
                Calcular
            </button>
            @* botão calcular*@

</form>