@model Tintas.net.Models.ComodoViewModel

@{
    ViewData["Title"] = "Tintas.netCore";
}

<h4>Calculando o consumo de tinta </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <label asp-for="AlturaParedeFundo" class="control-label"></label>
                
                <input asp-for="AlturaParedeFundo" class="form-control" placeholder="Altura (M)" required: true, maxLength: 4, min: 1, max: 50 />
                <span asp-validation-for="AlturaParedeFundo" class="text-danger"></span>
                <br />
                <input asp-for="LarguraParedeFundo" class="form-control" placeholder="Largura (M)" required: true, maxLength: 4, min: 1, max: 50 />
               
                <span asp-validation-for="LarguraParedeFundo" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <label asp-for="AltruaParedeFrente" class="control-label"></label>
                
                <input asp-for="AltruaParedeFrente" class="form-control" placeholder="Altura (M)" required: true, maxLength: 4, min: 1, max: 50 />
                <span asp-validation-for="AltruaParedeFrente" class="text-danger"></span>
                <br />
                <input asp-for="LarguraParedeFrente" class="form-control" placeholder="Largura (M)" required: true, maxLength: 4, min: 1, max: 50 />
               
                <span asp-validation-for="LarguraParedeFrente" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <label asp-for="AlturaParedeEsquerda" class="control-label"></label>
               
                <input asp-for="AlturaParedeEsquerda" class="form-control" placeholder="Altura (M)" required: true, maxLength: 4, min: 1, max: 50 />
                <span asp-validation-for="AlturaParedeEsquerda" class="text-danger"></span>
                <br />
                <input asp-for="LarguraParedeEsquerda" class="form-control" placeholder="Largura (M)" required: true, maxLength: 4, min: 1, max: 50 />
              
                <span asp-validation-for="LarguraParedeEsquerda" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <label asp-for="AlturaParedeDireita" class="control-label"></label>
               
                <input asp-for="AlturaParedeDireita" class="form-control" placeholder="Altura (M)" required: true, maxLength: 4, min: 1, max: 50 />
                <span asp-validation-for="AlturaParedeDireita" class="text-danger"></span>
                <br />
                <input asp-for="LarguraParedeDireita" class="form-control" placeholder="Largura (M)" required: true, maxLength: 4, min: 1, max: 50 />
                <span asp-validation-for="LarguraParedeDireita" class="text-danger"></span>
           
            </div>
            <br />
            <div class="form-group">
                <label asp-for="QtdJanela" class="control-label"></label>
                <select asp-for="QtdJanela" class="form-control">
                    <option value="0">
                      Escolha uma opção                    
                    </option>
                    <option value="1">1 Janela</option>
                    <option value="2">2 Janelas</option>
                    <option value="3">3 Janelas</option>
                    <option value="4">4 Janelas</option>
                    <option value="5">5 Janelas</option>
                    <option value="6">6 Janelas</option>
                    <option value="7">7 Janelas</option>
                    <option value="8">8 Janelas</option>
                    <option value="9">9 Janelas</option>
                    <option value="10">10 Janelas</option>
                </select>
                <span asp-validation-for="QtdJanela" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="QtdPorta" class="control-label"></label>
                <select asp-for="QtdPorta" class="form-control">
                    <option value="0">
                        Escolha uma opção
                    </option>
                    <option value="1">1 Porta</option>
                    <option value="2">2 Portas</option>
                    <option value="3">3 Portas</option>
                    <option value="4">4 Portas</option>
                    <option value="5">5 Portas</option>
                    <option value="6">6 Portas</option>
                    <option value="7">7 Portas</option>
                    <option value="8">8 Portas</option>
                    <option value="9">9 Portas</option>
                    <option value="10">10 Portas</option>
                </select>
                <span asp-validation-for="QtdPorta" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <p><label>Consumo</label></p>
                <p><input type="text" asp-for="@ViewData["result"]" disabled /></p>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Calcular" class="btn btn-primary" />
            </div>
        </form>
      
</div>
